@import "../../common/styles.scss";

.card-item {
    background: $secondary-background;
    cursor: pointer;
}

.card-top {
    height: 350px;

    img {
        height: 100%;
        width: 100%;
    }
}

.card-bottom {
    padding: 20px;
}

.card-info {
    color: $primary-color;
    h4 {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 10px; 
    }
}