@import "../../common/styles.scss";

.card-item {
    background: $primary-background;
    cursor: pointer;
}

.card-top {
    height: 350px;

    img {
        height: 100%;
        width: 100%;
    }
}

.card-bottom {
    padding: 20px;
}

.card-info {
    color: $primary-color;
    h4 {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 10px; 
    }
}

.loading {
    display: none;
    visibility: hidden;
}

.card-loading {
    height: 100%;
    width: 100%;
    background: $primary-background;
    background-image: url(../../images/bat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: color-burn;    
}