@import "../src/common/styles.scss";

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Creepster', cursive;
    font-weight: 100;
}

a {
    text-decoration: none;
}

body {
    background: $secondary-background;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin: 0 10vw;
}